<aside class="newsletter-signup">
  <h3>Words, occasionally, in your inbox</h3>
  <p>Do humans still read blogs? Maybe. They do seem to read email sometimes. 
    Every month or so, I’ll send new posts, talks, and other things I’ve been thinking about.</p>

  <form action="https://buttondown.com/api/emails/embed-subscribe/sararands"
        method="post"
        class="embeddable-buttondown-form">
    <label for="bd-email">Email</label>
    <input type="email" name="email" id="bd-email"
           placeholder="you@example.com" required />
    <input type="hidden" value="1" name="embed" />
    <input type="submit" value="Subscribe" />
  </form>
</aside>